<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="A real-time, no-nonsense, web-based life counter for TCGs">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <link rel="manifest" href="/site.webmanifest?<%= webpack.hash %>">
    <meta name="theme-color" content="#251941">

    <link rel="apple-touch-icon" sizes="192x192" href="/apple-touch-icon.png?<%= webpack.hash %>">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?<%= webpack.hash %>">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?<%= webpack.hash %>">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?<%= webpack.hash %>" color="#5bbad5">

    <link rel="apple-touch-startup-image" href="launch-640x1136.png?<%= webpack.hash %>" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="launch-750x1294.png?<%= webpack.hash %>" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="launch-1242x2148.png?<%= webpack.hash %>" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="launch-1125x2436.png?<%= webpack.hash %>" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="launch-1536x2048.png?<%= webpack.hash %>" media="(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="launch-1668x2224.png?<%= webpack.hash %>" media="(min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="launch-2048x2732.png?<%= webpack.hash %>" media="(min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
  </head>
  <body>
    <noscript>
      <h1>Hi.</h1> Unfortunately Sensei's Top doesn't work without JavaScript. You're welcome to hang out, but there's not much to do here.
    </noscript>
    <div class="app-root" id="root"></div>
  </body>
</html>